# == CMake 自动生成的文件 ==
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ninja 或 Make 构建产物
build/
out/
bin/
obj/
test/
thirdpart/
gen/

# 生成的工程文件
*.cmake
*.ninja

# 编译产物
*.o
*.a
*.so
*.dll
*.exe
*.dylib
*.pb.h
*.pb.cc
*.pb.cpp
*odb.*
client_*
speech_server	
speech_client
user_client
user_server
file_server
file_client

.vscode/
.idea/

compile_commands.json

.cache/
